
 <section class="content fellows" ng-controller="menteeCntrl">
    <div class="container">
      <h2 class="blue light">Fellows at Andela</h2>
      <hr/>

      <div class="col-xs-6 col-sm-3 col-md-3" ng-repeat = "mentee in mentees">
        <a href="/#!/mentees/{{mentee._id}}/profile">
          <div class="user-wrap">
            <div class="profile-pic"><span class="f-badge">M</span><img src="/modules/mentees/img/me1.jpg"/></div>
            <div lass="user-name" style="padding:10px;">
              <h5 class="text-wrap">{{mentee.name}}</h5>
              <p class="text-muted text-wrap">{{mentee.email}}</p>
              <p class="text-muted text-wrap">{{mentee.stuff}}</p>
            </div>
          </div>
        </a>
      </div>

    </div>
</section>